<div class="home">
    <div class="card-profile">
        <div class="text-profile">
            <h1>Olá !!!</h1>
            <p>Sou o Fernando, amante da tecnologia.</p> 
            <p>Vivo em Araras-SP e estou em busca de</p>
            <p>recolocação nesse incrível mercado.</p>
            <p>Meu objetivo é integrar equipe de </p>
            <p>desenvolvimento/engenharia de software.</p>    
        </div>
        
        <div class="net-container">
            <div class="linkedin-button">
                <a href="https://www.linkedin.com/in/fernando-alonso-995a1b40/"
                   target="_blank">
                <i class="fab fa-linkedin-in"></i>
                </a>
            </div>

            <div class="github-button">
                <a href="https://github.com/AlonsoFernando"
                   target="_blank">
                <i class="fab fa-github"></i>
                </a>
            </div>

            <button class="email-button" mat-raised-button>
                <a href="mailto:alonso1.fernando1@gmail.com">
                    <i class="fa fa-at"></i>
                </a>
            </button>
            
            <button class="cv-button" mat-raised-button>
                <a class="cv" href="https://drive.google.com/file/d/1p4_00Dh1Her2SCNw7VQ-pCH8o_I6nZNg/view?usp=sharing"
                   target="_blank">
                <div>
                  <p>cv</p>
                </div>
                <i class="fa fa-download"></i>
                </a>
            </button>
        </div>
    </div>
    <img class="photo" src="../../assets/image/fernando1.jpg" alt="photo">
</div>
