<div class="home">
    <div class="card-profile">
        <div class="text-profile">
            <h1>Olá !!!</h1>
            <p>Sou o Fernando, amante da tecnologia e estou a procura de uma oportunidade</p>
            <p>como QA em uma empresa de tecnologia que valorize o desenvolvimento</p>
            <p>de seus colaboradores e estimule a inovação em seus projetos.</p>
            <p>Com meu comprometimento em garantir a qualidade dos produtos,</p>
            <p>habilidade em trabalhar em equipe e entusiasmo em aprender,</p>
            <p>busco contribuir para o sucesso da empresa e crescer</p>
            <p>profissionalmente no campo de testes de software.</p>
        </div>

        <div class="net-container">
            <div class="linkedin-button">
                <a href="https://www.linkedin.com/in/fernando-alonso-995a1b40/"
                   target="_blank">
                <i class="fab fa-linkedin-in"></i>
                </a>
            </div>

            <div class="github-button">
                <a href="https://github.com/AlonsoFernando"
                   target="_blank">
                <i class="fab fa-github"></i>
                </a>
            </div>

            <button class="email-button" mat-raised-button>
                <a href="mailto:alonso1.fernando1@gmail.com">
                    <i class="fa fa-at"></i>
                </a>
            </button>

            <button class="cv-button" mat-raised-button>
                <a class="cv" href="https://docs.google.com/document/d/149rLX5KVcNccRBKILTjXFRtErDz7wkXpfyXW6AQeXHY/edit"
                   target="_blank">
                <div>
                  <p>cv</p>
                </div>
                <i class="fa fa-download"></i>
                </a>
            </button>
        </div>
    </div>
    <img class="photo" src="../../assets/image/fernando1.jpg" alt="photo">
</div>
