<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<div class="home-container">
  <div>
    <img
      class="background"
      src="../../assets/image/image5.jpg"
      alt="background"
    />
  </div>
  <div class="name">Fernando Alonso</div>
  <div class="title">Bacharel em Sistemas de Informação e cursando Especialização em Testes Ágeis</div>

  <div class="back-gradient">
    <app-card></app-card>
    <app-panel></app-panel>
    <app-footer></app-footer>
  </div>
</div>
