.home-container {
  display: flex;
  flex-direction: column;
}

.background {
  height: 300px;
  width: 100%;
}

.back-gradient {
  height: 580px;
  margin-top: 150px;
  background-image: linear-gradient(
    180deg,
    #001528 0%,
    #020246 20%,
    #4c4ca1 50%,
    #fafafa 100%
  );
}

.name {
  margin-top: -250px;
  margin-left: 80px;
  font: 4em "Berkshire Swash";
  color: white;
  font-style: italic;
}

.title {
  font: 1.5em "Gruppo";
  margin-left: 108px;
  color: white;
}
